# Li-ion Battery Aging Datasets (NASA): Data conversion

In this notebook, we convert all `.mat` datafiles in the Li-ion Battery Aging Datasets to csv files.

Reference:
B. Saha and K. Goebel (2007). "Battery Data Set", NASA Prognostics Data Repository, NASA Ames Research Center, Moffett Field, CA

```
Author: Cedric Yu
Last modified: 20230105
```

The raw `.mat` data files all have the following data structure:

```
Data Structure:
cycle:	top level structure array containing the charge, discharge and impedance operations
	type: 	operation  type, can be charge, discharge or impedance
	ambient_temperature:	ambient temperature (degree C)
	time: 	the date and time of the start of the cycle, in MATLAB  date vector format
	data:	data structure containing the measurements
	   for charge the fields are:
		Voltage_measured: 	Battery terminal voltage (Volts)
		Current_measured:	Battery output current (Amps)
		Temperature_measured: 	Battery temperature (degree C)
		Current_charge:		Current measured at charger (Amps)
		Voltage_charge:		Voltage measured at charger (Volts)
		Time:			Time vector for the cycle (secs)
	   for discharge the fields are:
		Voltage_measured: 	Battery terminal voltage (Volts)
		Current_measured:	Battery output current (Amps)
		Temperature_measured: 	Battery temperature (degree C)
		Current_charge:		Current measured at load (Amps)
		Voltage_charge:		Voltage measured at load (Volts)
		Time:			Time vector for the cycle (secs)
		Capacity:		Battery capacity (Ahr) for discharge till 2.7V 
	   for impedance the fields are:
		Sense_current:		Current in sense branch (Amps)
		Battery_current:	Current in battery branch (Amps)
		Current_ratio:		Ratio of the above currents 
		Battery_impedance:	Battery impedance (Ohms) computed from raw data
		Rectified_impedance:	Calibrated and smoothed battery impedance (Ohms) 
		Re:			Estimated electrolyte resistance (Ohms)
		Rct:			Estimated charge transfer resistance (Ohms)
```

In [24]:
# Load the "autoreload" extension so that code can change
import gc
import os
from utils.utils import load_mat_to_np, load_cycles_to_df, load_charge, load_discharge, load_impedance, convert_data_csv
import pandas as pd

%load_ext autoreload
# Always reload modules so that as you change code in src, it gets loaded
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [25]:
processed_dataset_folder = '../../li_ion_battery_aging_nasa/data/processed'
os.makedirs(processed_dataset_folder, exist_ok=True)

In [26]:
raw_dataset_folder = '../../li_ion_battery_aging_nasa/data/raw/'

In [22]:
convert_data_csv(raw_dataset_folder, processed_dataset_folder)

Processing ../../li_ion_battery_aging_nasa/data/raw/1. BatteryAgingARC-FY08Q4/B0018.mat
Processing ../../li_ion_battery_aging_nasa/data/raw/1. BatteryAgingARC-FY08Q4/B0007.mat
Processing ../../li_ion_battery_aging_nasa/data/raw/1. BatteryAgingARC-FY08Q4/B0006.mat
Processing ../../li_ion_battery_aging_nasa/data/raw/1. BatteryAgingARC-FY08Q4/B0005.mat
Processing ../../li_ion_battery_aging_nasa/data/raw/2. BatteryAgingARC_25_26_27_28_P1/B0025.mat
Processing ../../li_ion_battery_aging_nasa/data/raw/2. BatteryAgingARC_25_26_27_28_P1/B0027.mat
Processing ../../li_ion_battery_aging_nasa/data/raw/2. BatteryAgingARC_25_26_27_28_P1/B0026.mat
Processing ../../li_ion_battery_aging_nasa/data/raw/2. BatteryAgingARC_25_26_27_28_P1/B0028.mat
Processing ../../li_ion_battery_aging_nasa/data/raw/4. BatteryAgingARC_45_46_47_48/B0048.mat
Processing ../../li_ion_battery_aging_nasa/data/raw/4. BatteryAgingARC_45_46_47_48/B0045.mat
Processing ../../li_ion_battery_aging_nasa/data/raw/4. BatteryAgingARC_45_46_47_48/B0046.mat
Processing ../../li_ion_battery_aging_nasa/data/raw/4. BatteryAgingARC_45_46_47_48/B0047.mat
Processing ../../li_ion_battery_aging_nasa/data/raw/5. BatteryAgingARC_49_50_51_52/B0050.mat
Cycle 52 has missing Capacity
Cycle 54 has missing Capacity
Cycle 56 has missing Capacity
Cycle 58 has missing Capacity
Processing ../../li_ion_battery_aging_nasa/data/raw/5. BatteryAgingARC_49_50_51_52/B0049.mat
Processing ../../li_ion_battery_aging_nasa/data/raw/5. BatteryAgingARC_49_50_51_52/B0051.mat
Processing ../../li_ion_battery_aging_nasa/data/raw/5. BatteryAgingARC_49_50_51_52/B0052.mat
Cycle 10 has missing Capacity
Cycle 14 has missing Capacity
Cycle 16 has missing Capacity
Cycle 18 has missing Capacity
Cycle 20 has missing Capacity
Cycle 22 has missing Capacity
Cycle 26 has missing Capacity
Cycle 28 has missing Capacity
Cycle 30 has missing Capacity
Cycle 32 has missing Capacity
Cycle 34 has missing Capacity
Cycle 38 has missing Capacity
Cycle 40 has missing Capacity
Cycle 42 has missing Capacity
Cycle 44 has missing Capacity
Cycle 46 has missing Capacity
Cycle 50 has missing Capacity
Cycle 52 has missing Capacity
Cycle 54 has missing Capacity
Cycle 56 has missing Capacity
Cycle 58 has missing Capacity
Processing ../../li_ion_battery_aging_nasa/data/raw/3. BatteryAgingARC_25-44/B0025.mat
Processing ../../li_ion_battery_aging_nasa/data/raw/3. BatteryAgingARC_25-44/B0039.mat
Processing ../../li_ion_battery_aging_nasa/data/raw/3. BatteryAgingARC_25-44/B0032.mat
Processing ../../li_ion_battery_aging_nasa/data/raw/3. BatteryAgingARC_25-44/B0031.mat
Processing ../../li_ion_battery_aging_nasa/data/raw/3. BatteryAgingARC_25-44/B0034.mat
Processing ../../li_ion_battery_aging_nasa/data/raw/3. BatteryAgingARC_25-44/B0040.mat
Processing ../../li_ion_battery_aging_nasa/data/raw/3. BatteryAgingARC_25-44/B0041.mat
Processing ../../li_ion_battery_aging_nasa/data/raw/3. BatteryAgingARC_25-44/B0043.mat
Processing ../../li_ion_battery_aging_nasa/data/raw/3. BatteryAgingARC_25-44/B0036.mat
Processing ../../li_ion_battery_aging_nasa/data/raw/3. BatteryAgingARC_25-44/B0027.mat
Processing ../../li_ion_battery_aging_nasa/data/raw/3. BatteryAgingARC_25-44/B0044.mat
Processing ../../li_ion_battery_aging_nasa/data/raw/3. BatteryAgingARC_25-44/B0026.mat
Processing ../../li_ion_battery_aging_nasa/data/raw/3. BatteryAgingARC_25-44/B0042.mat
Processing ../../li_ion_battery_aging_nasa/data/raw/3. BatteryAgingARC_25-44/B0038.mat
Processing ../../li_ion_battery_aging_nasa/data/raw/3. BatteryAgingARC_25-44/B0028.mat
Processing ../../li_ion_battery_aging_nasa/data/raw/3. BatteryAgingARC_25-44/B0033.mat
Processing ../../li_ion_battery_aging_nasa/data/raw/3. BatteryAgingARC_25-44/B0029.mat
Processing ../../li_ion_battery_aging_nasa/data/raw/3. BatteryAgingARC_25-44/B0030.mat
Processing ../../li_ion_battery_aging_nasa/data/raw/6. BatteryAgingARC_53_54_55_56/B0056.mat
Processing ../../li_ion_battery_aging_nasa/data/raw/6. BatteryAgingARC_53_54_55_56/B0053.mat
Processing ../../li_ion_battery_aging_nasa/data/raw/6. BatteryAgingARC_53_54_55_56/B0055.mat
Processing ../../li_ion_battery_aging_nasa/data/raw/6. BatteryAgingARC_53_54_55_56/B0054.mat
[]

In [15]:
df = pd.read_csv('../../li_ion_battery_aging_nasa/data/processed/1. BatteryAgingARC-FY08Q4/B0005_discharge.csv')

In [17]:
df.head(100)

,cycle_num,ambient_temperature,cycle_time_start,Capacity,Voltage_measured,Current_measured,Temperature_measured,Current_load,Voltage_load,Time
0,1,24,2008-04-02 15:25:41,1.856487,4.191492,-0.004902,24.330034,-0.0006,0.000,0.000
1,1,24,2008-04-02 15:25:41,1.856487,4.191492,-0.004902,24.330034,-0.0006,0.000,0.000
2,1,24,2008-04-02 15:25:41,1.856487,4.191492,-0.004902,24.330034,-0.0006,0.000,0.000
3,1,24,2008-04-02 15:25:41,1.856487,4.191492,-0.004902,24.330034,-0.0006,0.000,0.000
4,1,24,2008-04-02 15:25:41,1.856487,4.191492,-0.004902,24.330034,-0.0006,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...
95,1,24,2008-04-02 15:25:41,1.856487,3.850014,-2.014150,26.436711,-1.9982,2.925,235.594
96,1,24,2008-04-02 15:25:41,1.856487,3.850014,-2.014150,26.436711,-1.9982,2.925,235.594
97,1,24,2008-04-02 15:25:41,1.856487,3.850014,-2.014150,26.436711,-1.9982,2.925,235.594
98,1,24,2008-04-02 15:25:41,1.856487,3.843842,-2.013464,26.611279,-1.9982,2.925,253.750
99,1,24,2008-04-02 15:25:41,1.856487,3.843842,-2.013464,26.611279,-1.9982,2.925,253.750

In [4]:
df.tail()

,cycle_num,ambient_temperature,cycle_time_start,Voltage_measured,Current_measured,Temperature_measured,Current_charge,Voltage_charge,Time
3247033,170,24,2008-05-28 11:09:42,4.21344,-0.000734,23.385061,-0.002,4.229,12.656
3247034,170,24,2008-05-28 11:09:42,4.21344,-0.000734,23.385061,-0.002,4.229,12.656
3247035,170,24,2008-05-28 11:09:42,4.21344,-0.000734,23.385061,-0.002,4.229,12.656
3247036,170,24,2008-05-28 11:09:42,4.21344,-0.000734,23.385061,-0.002,4.229,12.656
3247037,170,24,2008-05-28 11:09:42,4.21344,-0.000734,23.385061,-0.002,4.229,12.656

In [10]:
df_prev_cycle_duration = df[['cycle_num', 'Time']].groupby(['cycle_num']).last().reset_index()
df_prev_cycle_duration.columns = ['cycle_num', 'prev_cycle_duration']
df_prev_cycle_duration['prev_cycle_duration'] = df_prev_cycle_duration['prev_cycle_duration'].shift(fill_value=0)
df_prev_cycle_duration

     cycle_num  prev_cycle_duration
0            1                0.000
1            2             7597.875
2            3            10516.000
3            4            10484.547
4            5            10397.890
..         ...                  ...
165        166            10154.094
166        167            10316.906
167        168            10571.390
168        169             9892.375
169        170            10212.234

[170 rows x 2 columns]

In [13]:
df_ = pd.merge(df, df_prev_cycle_duration, on='cycle_num', how='inner')
df_['Time_agg'] = df_['Time'] + df_['prev_cycle_duration']

In [14]:
df_

,cycle_num,ambient_temperature,cycle_time_start,Voltage_measured,Current_measured,Temperature_measured,Current_charge,Voltage_charge,Time,prev_cycle_duration,Time_agg
0,1,24,2008-04-02 13:08:17,3.873017,-0.001201,24.655358,0.000,0.003,0.000,0.000,0.00
1,1,24,2008-04-02 13:08:17,3.873017,-0.001201,24.655358,0.000,0.003,0.000,0.000,0.00
2,1,24,2008-04-02 13:08:17,3.873017,-0.001201,24.655358,0.000,0.003,0.000,0.000,0.00
3,1,24,2008-04-02 13:08:17,3.873017,-0.001201,24.655358,0.000,0.003,0.000,0.000,0.00
4,1,24,2008-04-02 13:08:17,3.873017,-0.001201,24.655358,0.000,0.003,0.000,0.000,0.00
...,...,...,...,...,...,...,...,...,...,...,...
3247033,170,24,2008-05-28 11:09:42,4.213440,-0.000734,23.385061,-0.002,4.229,12.656,10212.234,10224.89
3247034,170,24,2008-05-28 11:09:42,4.213440,-0.000734,23.385061,-0.002,4.229,12.656,10212.234,10224.89
3247035,170,24,2008-05-28 11:09:42,4.213440,-0.000734,23.385061,-0.002,4.229,12.656,10212.234,10224.89
3247036,170,24,2008-05-28 11:09:42,4.213440,-0.000734,23.385061,-0.002,4.229,12.656,10212.234,10224.89
3247037,170,24,2008-05-28 11:09:42,4.213440,-0.000734,23.385061,-0.002,4.229,12.656,10212.234,10224.89